# Compiled Object files
*.slo
*.lo
*.o

# Assets
*.wrl
*_remesh.obj

Armadillo.ply
armadillo.ply
Armadillo.obj
armadillo.obj
Armadillo.stl
armadillo.stl

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# except the coacd
!coacd.exe

*.un~
*.swo
*.swp

build/*
Debug/*
Release/*
